<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editare profil | {{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Prenume</ion-label>
    <ion-input [(ngModel)]="userData.first_name" placeholder="Enter First Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nume</ion-label>
    <ion-input [(ngModel)]="userData.last_name" placeholder="Enter Last Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descriere</ion-label>
    <ion-input [(ngModel)]="userData.description" placeholder="Enter Description"></ion-input>
  </ion-item>
  <ion-button (click)="update()" color="success" size="small">
    Actualizare
  </ion-button>
  <ion-button [routerLink]="[ '/profile']" color="danger" size="small">
    Anuleaza
  </ion-button>
</ion-content>
