<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>First Name</ion-label>
    <ion-input [(ngModel)]="data.first_name" placeholder="Enter First Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Last Name</ion-label>
    <ion-input [(ngModel)]="data.last_name" placeholder="Enter Last Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input [(ngModel)]="data.description" placeholder="Enter Description"></ion-input>
  </ion-item>
  <ion-button (click)="test12()" color="success" size="small">
    Update
  </ion-button>
  <ion-button [routerLink]="[ '/profile']" color="danger" size="small">
    Cancel
  </ion-button>
</ion-content>
