<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Record</ion-title>
  </ion-toolbar>
</ion-header>


  <div #map id="map"></div>

<ion-content>
<ion-grid *ngIf="segmentModel !== 'Start'">
      <ion-row>
        <ion-col size="3">
          <b>Speed</b>
        </ion-col>
        <ion-col>
          {{this.speed}} km/h
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <b>Distance</b>
        </ion-col>
        <ion-col>
          {{this.distance}} km
        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-button style="text-align:center" color="danger" fill="outline" (click)="startTracking()" *ngIf="segmentModel === 'Start'">
    Start
  </ion-button>
  <ion-button style="text-align:center" color="danger" fill="outline"  (click)="stopTracking()" *ngIf="segmentModel === 'End'">
      Stop
  </ion-button>



  <ion-card *ngIf="segmentModel === 'Save'">
    <ion-card-header>
      <ion-card-title>Create Route</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="data.name" placeholder="Enter Name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input [(ngModel)]="data.description" placeholder="Enter Description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button (click)="submitForm()">Add
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
