<ion-header [translucent]="true">



</ion-header>

<div #map id="map"></div>

<ion-content >

  <ion-toolbar color="primary">


    <ion-segment

    value="all"
    scrollable="true"
    mode="md"
    [(ngModel)]="segmentModel"
    (ionChange)="segmentChanged($event)">

      <ion-segment-button value="All">
        <ion-label>Toate</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Follow">
        <ion-label >Urmarite</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Saved">
        <ion-label >Salvate</ion-label>
      </ion-segment-button>

      <ion-segment-button value="Create">
        <ion-label>Creaza o ruta</ion-label>
      </ion-segment-button>


    </ion-segment>

  </ion-toolbar>

  <ion-card *ngIf="segmentModel === 'Saved' || segmentModel === 'All' || segmentModel === 'Follow' ">


    <ion-card-content>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Titlu</th>
            <th scope="col">Autor</th>
            <th scope="col">Distanta</th>
            <th scope="col">Tip</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of routesData">

            <td>{{ item.name }}</td>
            <td>{{ item.user.username }}</td>
            <td>{{ item.distance }} km</td>
            <td>{{ item.type }}</td>
            <td style="display: flex">
              <button ion-button clear item-end (click)="displayRoute(item);">Vizualizeaza ruta</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="segmentModel === 'Create'">


    <ion-card-content>
      <ion-item>
        <ion-label>Titlu</ion-label>
        <ion-input [(ngModel)]="data.name" placeholder="denumirea rutei"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button (click)="submitForm()">Creaza
        </ion-button>
      </ion-item>
    .
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="segmentModel === 'Details'">
    <ion-card-header>
      <ion-card-title>{{data.name}}
        <ion-button style="text-align:center" color="danger" fill="outline" (click)="followRoute()" *ngIf="!checkfollowRoute()">
          Urmareste
        </ion-button>
        <ion-button style="text-align:center" color="danger" fill="outline"  (click)="followRoute()" *ngIf="checkfollowRoute()">
          Nu mai urmari
        </ion-button>
      </ion-card-title>
    </ion-card-header>

   <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <b>Distanta</b> km
        </ion-col>
        <ion-col>
          {{data.distance}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <b>Tip</b>
        </ion-col>
        <ion-col>
          {{data.type}}
        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="segmentModel === 'Details'">
    <ion-card-header>
      <ion-card-title>Comentarii</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="comment-box">
        <ion-card *ngFor="let comment of comments">
          <ion-card-content>
            <ion-button fill="clear" size="small" (click)="removeComment(comment)" *ngIf="removeCommentvisible(comment.user)"><ion-icon name="trash"></ion-icon></ion-button> <strong>{{comment.text}}</strong>
                <p>
                 {{comment.user.username}} - {{comment.time | date : 'H:mm d/MMM/YY'}}
                </p>
          </ion-card-content>

        </ion-card>
      </div>
      <ion-footer padding>
        <ion-textarea [(ngModel)]="comment.text" type="text" placeholder="Comment .... "></ion-textarea>
        <button ion-button small float-right round (click)="sendComment()">Trimite</button>
      </ion-footer>
    </ion-card-content>
  </ion-card>

</ion-content>
