<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Prieteni</ion-title>
  </ion-toolbar>
</ion-header>
<div #map id="map"></div>
<ion-content>

  <ion-card >
    <ion-card-header>
      <ion-card-title>Utilizatori</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Nume</th>
            <!---<th scope="col">Distance</th>-->

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usersData" [style.color]="userscolor[item.id]"  detail=”true” >

            <td>{{ item.username }}</td>
            <td>{{ item.first_name }} {{ item.last_name }}</td>
            <td>{{ usersdistance[item.id] }} km departare</td>
            <td style="display: flex">
              <ion-button color="warning" size="small" (click)="onOpenItemEdit(item)" *ngIf="this.currentUser.roles.includes('ROLE_ADMIN')">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </td>

          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>


</ion-content>
